* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Rubik';
}
  
a {
    text-decoration: none;
}
  
li {
    list-style: none;
}

.background-primary {
    background-color: #1f81ac;
}

.background-secondary {
    background-color: #fbab34 !important;
}

.background-tertiary {
    background-color: #fbc674;
}

.gray-section-bg {
    background-color: #f3f3f3;
}

.color-paragraph-text {
    color: #81858e;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  font-size: 14px;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(12, 5, 5, 0.7);
  line-height: 0;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

.vertical-line {
    border-left: 1px solid white; /* Change the color and thickness of the line as needed */
    height: 20px; /* Change the height of the line as needed */
}





.service {
  padding: 50px;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
  text-align: left;
}
.service h6 {
  margin-top: 24px;
  margin-bottom: 14px;
  text-align: left;
}

.service img {
  width: 100%;
  height: auto;
}

